{% extends "layout.html" %}


{% block body %}

<h3>About us</h3>
<hr>



<h2>A product studio with an entrepreneurial spirit</h2>
<p>
We are data scientists and software craftsmen solving important business problems using a unique blend of business acumen, tech expertise and machine learning. We offer technology consulting, software development and ML expertise to YCombinator startups.

Parallel-y, we are also currently working on multiple inhouse products, many of which employ Machine Learning (a cutting edge Slack Standup bot, an applicant tracking and filtering tool, a geolocation chatting app and a Marketing Automation bot that aims to address marketing woes for startups).
</p>
{% endblock body %}
